/* style 2: Product Image Gallery */
.product-images {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  width: 100%;
}

.image-container {
  width: 100%;
  position: relative;
  background-color: #000;
}

.image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.image.active {
  opacity: 1;
  transform: translateY(0);
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnail {
  cursor: pointer;
  object-fit: cover;
  width: 40px;
  height: 60px;
  border-radius: 5px;
  opacity: 0.6; /* Default opacity for inactive thumbnails */
  border: 1px solid transparent;
  transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.progress-bar-container {
  position: absolute;
  top: 0;
  width: 1px;
  height: 730px;
  background-color: #ddd;
  border-radius: 3px;
  right: 48px;
}

.progress-bar {
  width: 100%;
  height: 0;
  background-color: #121212;
  transition: height 0.5s ease-in-out;
  display: inherit !important;
}
